.footer-container{
    position: relative;
    justify-content: flex-end;
    .footer-background{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: url('../assets/footerBackground.svg');
        background-position: 31%;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .footer-info-container{
        position: relative;
        display: block;
        z-index: 2;
        color: $white;
        width: 80%;
        font-size: vw(16);
        @include ipad {
            font-size: vh(15.5);
        }
        .footer-logo{
            position: relative;
            display: block;
            z-index: 2;
            height: vh(88);
            width: vw(127);
            display: flex;
            align-items: flex-end;
            margin-bottom: vh(5);
            img{   
                width: 100%;
                height: 100%;
            }
            span{
                color: $white;
                color: $white;
                font-size: vw(32, $design-width-mobile);
                font-weight: 700;
                padding-bottom: vh(7, $design-height-mobile);
            }
        }
        .footer-contact{
            margin-bottom: vh(15);
            h6{
                font-size: vw(18);
                &:after{
                    content: "";
                    display: block; 
                    width: 35px; 
                    padding-top: 5px;
                    border-bottom: 1px solid rgba(97, 208, 149, .95);
                    margin-bottom: vh(5);
                }  
            }
            span{
                margin-bottom: vh(8);
            }
        }
        .footer-navigation{
            margin-bottom: vh(15);
            h6{
                font-size: vw(18);
                &:after{
                    content: "";
                    display: block; 
                    width: 35px; 
                    padding-top: 5px;
                    border-bottom: 1px solid rgba(97, 208, 149, .95);
                    margin-bottom: vh(5);
                }   
            }
            a{
                margin-bottom: vh(12);
                text-decoration: none;
            }
        }
        .footer-services{
            margin-bottom: vh(15);
            h6{
                font-size: vw(18);
                &:after{
                    content: "";
                    display: block; 
                    width: 35px; 
                    padding-top: 5px;
                    border-bottom: 1px solid rgba(97, 208, 149, .95);
                    margin-bottom: vh(5);
                    
                } 
            }
            span{
                margin-bottom: vh(8);
            }  
        }
    }
}