.about-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 0 vw(10, $design-width-mobile);
    position: relative;
    z-index: 3;
    height: vh(515);
    .about-module{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background: url('../assets/about-phone-1.svg');
        // background-position: center;
        // background-size: cover;
        // background-repeat: no-repeat;
        padding: 10px 25px;
        color: $black;
        letter-spacing: vw(1, $design-width-mobile);
        h1{
            font-size: vw(26, $design-width-mobile); 
        }
        .about-module-text{
            padding-top: vh(23);
            position: relative;
            z-index: 2;
            display: block;
            .text{
                position: relative;
                top: vh(-10, $design-height-mobile);
                font-size: vw(16, $design-width-mobile);
                line-height: vh(30, $design-height-mobile);
                font-weight: 500;
                .highlight{
                    color: $blue;
                }
                .about-module-link{
                    color: $blue;
                    text-decoration: none;
                }
            }
        }
        .about-module-img{
            position: absolute;
            height: vh(225);
            width: vw(325);
            // bottom: 20px;
            // right: 35px;
            top: vh(157);
            right: vw(-61);
            display: block;
            z-index: 1;
            border-radius: 35%;
        }
    }
}