.about-page {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: vh(100);
    background-position: 53%;
    height: auto;

    .background-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        display: block;
        z-index: 1;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        z-index: 2;
        padding: 0 vw(13);

        h1 {
            color: $white;
            font-size: vw(26);

            @include ipad {
                font-size: vw(14.5);
            }
        }

        .about-description {
            color: $white;
            margin-top: vh(15);
            border-radius: 10%;

            p {
                font-size: vw(16);
                line-height: vh(25);

                @include ipad {
                    font-size: vw(11.5);
                }

                span {
                    color: $white !important;
                }
            }
        }

        .about-extra {
            margin-top: vh(223);
            position: relative;

            .about-extra-image {
                position: absolute;
                top: vh(143);
                right: vw(-20);
                width: vw(200);
                transform: scale(1.3);
                display: block;
                z-index: 1;

                @include ipad {
                    top: vh(130);
                    right: vw(-65);
                    transform: scale(1);
                }
            }

            h1 {
                color: $black;
                margin-bottom: vh(10);
            }

            .about-extra-desc {
                position: relative;
                display: block;
                z-index: 2;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                p {
                    line-height: vh(27);
                    font-size: vw(16);

                    @include ipad {
                        font-size: vw(11.5);
                    }

                    .highlight {
                        color: $blue;
                    }
                }

                .about-services-link {
                    border: 2px solid $black;
                    color: $black;
                    border-radius: 25px;
                    text-decoration: none;
                    padding: 10px 27px;
                    margin: 0 auto;
                    align-self: center;
                    margin-top: vh(45);
                    margin-bottom: vh(21);
                    font-size: vw(16);

                    @include ipad {
                        font-size: vw(11.5);
                    }
                }
            }
        }
    }

    .about-bottom-graphic {
        height: vh(90);
        width: vw(90);
        position: absolute;
        bottom: vh(45);
        right: vw(70);
    }
}