.portfolio-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: vh(119);
    width: 85%;
    margin: 0 auto;
    height: auto;
    margin-bottom: vh(25);
    .portfolio-title{
        margin-bottom: vh(35);
        h1{
            font-size: vw(26);
            span{
                color: $blue;
            }
        }
    }
    .portfolio-module{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .portfolio-item-wrapper{
            width: 100%;
            margin: vh(25) 0;
            border-bottom: none;
            box-shadow: 0 0 25px 5px rgb(0 0 0 / 5%);
            border-radius: 5px;
            border-bottom: 5px solid $blue;
            // border-bottom-right-radius: 0;
            // border-bottom-left-radius: 0;
            &:first-of-type{
                margin-top: 0;
            }
            &:last-of-type{
                margin-bottom: 0;
            }
            .portfolio-image{
                height: vh(200);
                width: 100%;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    height: 85%;
                    width: vw(200);
                }
            }
            .portfolio-info{
                display: flex;
                flex-direction: column;
                padding-right: vw(15);
                width: 85%;
                margin: 0 auto;
                // border-top: 2px solid $black;
                // border-bottom: 2px solid $black;
                background-color: $white;
                color: $black;

                h6{
                    font-size: vw(18);
                    margin: vh(10) 0 vh(3) 0;   
                }
                span{
                    font-size: vw(14);
                }
                button{
                    z-index: 2;
                    padding: 8px 10px;
                    outline: none;
                    border: 2px solid #0D0908;
                    opacity: 0.75;
                    background: transparent;
                    border-radius: 25px;
                    align-self: flex-start;
                    font-weight: 700;
                    color: #0D0908;
                    font-size: vw(12);
                    letter-spacing: vw(.85);
                    margin: vh(15) 0 vh(25) 0;

                }
            }
        }
    }
}