.pricing-container{
    width: 100%;
    height: auto;
    margin-top: vh(99);
    .pricing-module{
        height: auto;
        align-self: flex-end;
        color: $black;
        position: relative;
        z-index: 2;
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        padding: 10px 40px;
        padding-bottom: 0;
        min-width: vw(375);
        .background-container{
            border-radius: 50%;
            background: url('../assets/our-clients.svg');
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            height: vh(415);
            width: 100%;
            position: absolute;
            top: vh(-96);
            bottom: 0;
            right: vw(-190);
            z-index: 1;
            opacity: .15;
        }
        h1{
            text-align: right;
            font-size: vw(26, $design-width-mobile);
            z-index: 2;
            position: relative;
            margin-bottom: vh(30);       
        }
        .pricing-cost{
            height: vw(95);
            width: vw(95);
            margin: 0 auto;
            margin-top: vh(20);
        }
        .pricing-module-sub{
            display: block;
            position: relative;
            z-index: 2;
            text-align: left;
            h2{
                font-size: vw(24.5);
            }
            .pricing-sub-head{
                margin-bottom: 0;
            }
            h3{
                font-size: vw(10);
                margin-top: vh(5);
                text-align: center;
                font-weight: 400;
                &:last-of-type{
                    font-size: vw(10);
                    margin-bottom: vh(30);
                    margin-top: 0;
                }
            }
            h4{
                font-size: vw(20);
                margin-bottom: vh(20);

            }
            .pricing-includes-item{
                margin: vh(40) auto;
                display: flex;
                &:first-of-type{
                    margin-top: vh(25);
                }
                h5{
                    font-size: vw(20);
                    margin-bottom: vh(3);  
                }
                span{
                font-size: vw(16);
                }
                .pricing-item-img{
                    height: vh(25);
                    width: vw(25);
                    min-height: 25px;
                    min-width: 25px;
                    align-self: flex-start;
                    margin-right: vw(15);
                    margin-left: vw(-15);
                    margin-top: vh(5);
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            span{
                font-size: vw(15);
                font-weight: 500;
                line-height: vh(25);

            }
        }
    }
}