.services-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: auto;
    .services-module{
        height: vh(200, $design-height-mobile);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 40px;
        color: $black;
        letter-spacing: vw(1, $design-width-mobile);
        position: relative;
        z-index: 2;
        &:last-of-type{
            margin-top: vh(106);
            height: auto;
            align-self: flex-start;
            color: $black;
            position: relative;
            z-index: 2;
            display: flex;
            .background-container{
                border-radius: 50%;
                background: url('../assets/our-clients.svg');
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
                height: vh(415);
                width: 100%;
                position: absolute;
                top: vh(-70);
                bottom: 0;
                right: 0;
                left: vw(-113);
                z-index: 1;
                opacity: .15;
            }
            h1{
                margin-bottom: vh(10);
                &:after{
                    content: "";
                    display: block; 
                    width: 35px; 
                    padding-top: 5px;
                    border-bottom: 2px solid rgba(63, 156, 227, .95)
                }
            }
            
            .service-module-img{
                // position: absolute;
                // bottom: vh(20);
                // right: vw(35);
                height: vh(105);
                width: vw(105);
                position: relative;
                top: vh(-10);
                left: vw(-15);
                display: block;
                z-index: 1;
                align-self: flex-end;
            }
            .services-module-sub{
                display: block;
                position: relative;
                z-index: 2;
                span{
                    font-size: vw(15);
                    font-weight: 500;
                    line-height: vh(25);

                }
            }
        }

        .background-container{
            background: url('../assets/about-phone.svg');
            background-position: top;
            background-repeat: no-repeat;
            background-size: contain;
            transform: rotate(-30deg);
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
        }
        h1{
            font-size: vw(20, $design-width-mobile);
            z-index: 2;
            position: relative;
            &:after{
                content: "";
                display: block; 
                width: 35px; 
                padding-top: 2px;
                border-bottom: 2px solid $light-green;
                margin-top: vh(15);
            } 
        }
    }
}