.services-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: auto;
    .services-module{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: vh(5) vw(35);
        padding-top: 0;
        color: $black;
        letter-spacing: vw(1, $design-width-mobile);
        position: relative;
        z-index: 2;
        &:last-of-type{
            margin-top: vh(123);
            height: auto;
            align-self: flex-start;
            color: $black;
            position: relative;
            z-index: 2;
            display: flex;
            .background-container{
                border-radius: 50%;
                background: url('../assets/our-clients.svg');
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
                height: vh(415);
                width: 100%;
                position: absolute;
                top: vh(-70);
                bottom: 0;
                right: 0;
                left: vw(-113);
                z-index: 1;
                opacity: .15;
            }
            
            .service-module-img{
                height: vh(105);
                width: vw(105);
                position: relative;
                top: vh(-10);
                left: vw(-15);
                display: block;
                z-index: 1;
                align-self: flex-end;
            }
            .services-module-sub{
                display: block;
                position: relative;
                z-index: 2;
                span{
                    font-size: vw(15);
                    font-weight: 500;
                    line-height: vh(25);

                }
            }
            h1{  
                margin-bottom: vh(25);
            }
        }

        .background-container{
            background: url('../assets/about-phone.svg');
            background-position: top;
            background-repeat: no-repeat;
            background-size: contain;
            transform: rotate(-30deg);
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
        }
        h1{
            font-size: vw(26, $design-width-mobile);
            z-index: 2;
            position: relative;
        }
    }
    .services-img-btm{
        transform: scale(1.5);
        margin-top: 45px;
        @include ipad {
            transform: scale(1.25);
        }
    }
}